<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<!-- <string>https://mreg.cbn.id/cbnians/cbnians.ipa</string> -->
					<string>https://firebasestorage.googleapis.com/v0/b/cbnians.appspot.com/o/cbnians.ipa?alt=media&token=361ad405-8f11-489b-800a-c55c283d602a</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.cbn.CBNian</string>
				<key>bundle-version</key>
				<string>1.0.0</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>CBNians</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
